<% @title = @tender.title
   @heading = @tender.title %>

<div class="container">
  <p><%= @tender.content %></p>
  <p><%= @tender.address %></p>
  <p class="timestampes"><%= @tender.created_at %></p>
</div>