<div class="jumbotron">
  <div class="container">
    <h1>Тендер онлайн</h1>
    <p>лучший выбор для тех, кто хочет преуспеть в бизенесе</p>
    <p><%= link_to 'Присоедениться', 'login',  class: 'btn btn-primary btn-lg' %></p>
    <p><%= link_to 'или войти', 'login' %></p>
    <%= image_tag 'Biznes-sdelka.jpg' %>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="b-home-list row">
    <div class="col-md-4">
      <span class="glyphicon glyphicon-usd"></span>
      <h3>Ассоциация успешных</h3>
      <p>Великое количество пользователей со своими товарами и услугами.</p>
    </div>
    <div class="col-md-4">
      <span class="glyphicon glyphicon-user"></span>
      <h3>Без посредников</h3>
      <p>Ведите дела напрямую с заказчиком или исполнителем.</p>
    </div>
    <div class="col-md-4">
      <span class="glyphicon glyphicon-phone"></span>
      <h3>Всегда под рукой</h3>
      <p>Возможность пользоваться ресурсом с мобильных устройств.</p>
    </div>
  </div>
  <div class="b-home-body row">
    <div class="col-md-3 col-md-offset-1">
      <%= image_tag '//jumgal.kg/wp-content/uploads/2016/04/ImageGen.jpg' %>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <p>
        Те́ндер (англ. tender — предложение) — конкурентная форма отбора предложений на поставку товаров, оказание услуг или выполнение работ по заранее объявленным в документации условиям, в оговоренные сроки на принципах состязательности, справедливости и эффективности. Контракт заключается с победителем тендера — участником, подавшим предложение, соответствующее требованиям документации, в котором предложены наилучшие условия.
      </p>
      <p>
        В современных условиях торги являются распространенным способом размещения заказов на поставки машин и оборудования, выполнение научных, проектных и изыскательских работ, сооружение промышленных и социальных объектов. При этом законодательства большинства стран позволяют организациям с участием государственного капитала размещать заказы на приобретение товаров и услуг только через торги. Таким образом, торги это конкурсная форма поиска деловых партнеров, при которой фирма инициатор (заказчик) или несколько таких фирм путем публикации информации о предстоящих торгах привлекают к установленному сроку предложения (оферты) от заинтересованных фирм (оферентов). Заказчики создают тендерные комитеты, в состав которых входят технические и коммерческие эксперты, представители администрации. Тендерные комитеты осуществляют всю организационную работу по проведению торгов. Они публикуют объявления о торгах, распространяют между их участниками так называемую проформу тендерного предложения, представляющий собой типичную форму тендерного предложения. Тендерное предложение (оферта) письменное предложение, представленное оферентом (участником торгов) в адрес тендерного комитета с описанием предлагаемых товаров и услуг. Оферта может содержать и альтернативные предложения, содержащие несколько отличные условия от основного предложения, что повышает конкурентоспособность оферента на торгах.
      </p>
    </div>
  </div>
</div>